<div class="card mb-4 shadow-sm rounded-4">
    <div class="card-header ratio ratio-4x3">
        <img [src]="product()?.image" class="card-img-top" alt="{{ product()?.title }}">
    </div>
    <div class="card-body">
    <h5 class="text-truncate card-title">{{ product()?.title }}</h5>
    <!-- <p class="card-text text-truncate-multiline line-clamp-1 d-inline-block w-100">{{ product()?.description }}</p> -->
    <div class="card-text">
        <p class="text-truncate d-block w-100" [title]="product()?.description">
          {{ product()?.description }}
        </p>
      </div>      
    <p class="card-text"><strong>Price:</strong> ${{ product()?.price }}</p>
    </div>
    <div class="card-footer">
    <button class="btn btn-primary w-100">Add to Cart</button>
    </div>
</div>