<div class="card border-0 mb-4 shadow-lg rounded-4 overflow-hidden">
  <div class="card-header p-0 ratio ratio-16x9 bg-light">
    <img [src]="product()?.image" class="object-fit-scale" alt="{{ product()?.title }}">
  </div>
  <div class="card-body p-3">
    <h5 class="card-title fw-bold text-truncate mb-2">{{ product()?.title }}</h5>
      <p class="text-truncate d-block w-100 card-text text-secondary mb-3" [title]="product()?.description">
        {{ product()?.description }}
      </p>
    <p class="card-text fs-4 fw-bold text-primary mb-0">Price: ${{ product()?.price?.toFixed(2) }}</p>
  </div>
  <div class="card-footer border-0 p-3 bg-transparent">
    <button class="btn btn-outline-primary hover:bg-primary hover:text-white w-100 rounded-pill fw-bold">
      <i class="bi bi-cart-plus me-2"></i>Add to Cart
    </button>
  </div>
</div>